<div class="user-details">
  <h1>Make it work. Then make it beautiful.</h1>
  <p class='user-description'> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-heroku-plain-wordmark colored"></i>
    </div>
</div>

